*{
    margin: 0;
}

body {
    margin: 0px;
    background-color: beige;
    height: 1000px;
}

/* PC screen */
@media only screen and (min-width: 1140px) {
  .container{
   width: 1000px;
  } 
}

.main {
    background-color: red;
    height: 50px;
    width: 100%;
}

.sub-div {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(172, 172, 172);
}



.left {
    height: 50px;
    width: 60%;
    float: left;
    margin-left: 5%;
}

.left-ul {
    display: inline-flex;
    list-style: none;
}

.left-li {
    text-align: center;
    margin-left: 6px;
    margin-right: 4px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.left-li i {
    font-size: 10px;
    margin-right: 3px;
}

.right {
    height: 50px;
    width: 20%;
    float: right;
    margin-right: 5%;
}

.icons-div {
    padding: 10px;
}

.icons-div li {
    display: inline;
    text-align: center;
    margin-right: 0.6rem;
    margin-top: 1rem;
    color: white;
    font-size: 20px;
    
}

.icons-div li:hover {
    color: black;
}

.logo-div {
    height: 100px;
    float: left;
    width: 30%;
}

.nav-div {
    height: 100px;
    float: right;
    text-align: center;
    width: 70%;
    cursor: pointer;
}

img {
    height: 78px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.nav-div-li {
    list-style: none;
    display: inline-flex;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;

}

#nav-div-li-df {
    list-style: none;
    display: inline-flex;
    color: red;
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-div-li:hover {
    color: red;
}

#border {

    padding: 10px;
    border-left: 1px solid rgb(203, 203, 203);
}

.left-li:hover {
    color: black;
}

.content {
    height: auto;
    width: 100%;
    background-color: brown;
    float: left;
    margin: 0px;
    padding: 0px;
}

.image {
    height: 550px;
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 120px;
    z-index: 200;
}

.drp-inner {
    margin-top: 2rem;
    background-color: red;
    height: auto;
    width: 130px;
    border-bottom: 1px solid rgb(198, 0, 0);
    float: left;
}

.drp-inner1 {
    background-color: red;
    height: auto;
    width: 130px;
    border-bottom: 1px solid rgb(198, 0, 0);
    float: left;
}

.drop-title {
    color: white;
    font-family: arial;
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
    padding: 6px 6px;
    margin: 0px;
}


.drop-title:hover {
    color: rgb(0, 0, 0);

}

.drp-inner2 {
    background-color: red;
    height: auto;
    width: 130px;
    border-bottom: 1px solid rgb(198, 0, 0);
    float: left;
}

.drp-inner3 {
    background-color: red;
    height: auto;
    width: 130px;
    border-bottom: 1px solid rgb(198, 0, 0);
    float: left;
}

.drp-inner:hover {
    background-color: rgb(238, 0, 0);
}

.drp-inner1:hover {
    background-color: rgb(238, 0, 0);
}


.drp-inner2:hover {
    background-color: rgb(238, 0, 0);
}


.drp-inner3:hover {
    background-color: rgb(238, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrap {
    height: auto;
    width: 100%;
    z-index: 200;
    position: fixed;
}


.content {
    margin-top: 8.5%;
}


.division-wrap {
    height: auto;
    float: left;
    width: 100%;
    background-color: black;
    background-image: url('http://starpublicschool69.com/wp-content/uploads/2014/11/home_languageschool_choose_language_bg.jpg');
    background-size: cover;;
    background-repeat: no-repeat;
    z-index: 100;
    overflow: hidden;
    background-attachment: fixed;
}



.left-part {
    height: 600px;
    float: left;
    width: 40%;
    margin-left: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.right-part {
    height: 300px;
    float: left;
    width: 50%;
    margin-left: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.left-part img {
    height: 400px;
    width: 100%;
    margin: 0px;
}

.right-part h2 {
    color: #172A6E;
    font-weight: lighter;
    margin-left: 2.2rem;
}

.right-part .right-part-inner h1 {
    color: #172A6E;
    font-weight: bolder;
}

.right-part p {
    font-family: arial;
    color: grey;
    font-style: italic;
    font-weight: bolder;
    margin-top: 1rem;
    text-align: justify;
    margin-left: 2.2rem;

}

.right-part-inner {
    height: auto;
    display: flex;
    justify-content: start;
}

.img-wrap {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.images-div {
    height: auto;
    background-color: white;
    padding: 20px 20px;
    float: left;
    width: 100%;
}


.img1 h5,
.img2 h5,
.img3 h5,
.img4 h5 {
    color: navy;
    font-weight: bolder;
    font-family: arial;
    margin-top: 1rem;

}

.border-img {
    height: 2px;
    background-color: rgb(240, 240, 240);
    width: 95%;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img {
    margin-bottom: 2rem;
    padding: 1rem;
    height: 100px;
}



.img1 {
    width: 25%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img2 {
    width: 25%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img3 {
    width: 25%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.img4 {
    width: 25%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.admissions {
    height: auto;
    width: 100%;
    float: left;
}

.adm-ctr {
    height: 600px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.adm-left {
    height: 600px;
    float: left;
    width: 40%;
    margin-left: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
}

.adm-left h1 {
    margin-bottom: 1rem;
    color: navy;
}

.adm-left p {
    font-size: 1.4rem;
    font-family: arial;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: rgb(176, 176, 176);
}

.dld-btn {
    background-color: red;
    border: none;
    padding: 1rem;
    font-family: arial;
    letter-spacing: 2px;
    border-radius: 10px;
    color: white;
}

.adm-right {
    height: auto;
    float: left;
    width: 50%;
    margin-left: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.adm-right img {
    margin: 0px;
    pad: 0px;
}



.facilities {
    background-image: url('https://starpublicschool69.com/wp-content/uploads/2014/11/home_languageschool_choose_course_bg.jpg');
    height: auto;
    background-attachment: fixed;
    width: 100%;
    padding: 2rem;
    float: left;
}

.facilities h1 {
    color: white;
    font-family: helvetica;
    font-weight: light;
}

.facilities-card {
    width: 31.33%;
    margin-top: 2rem;
    height: 800px;
    float: left;
    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
}

.facilities-card h2 {
    margin-top: 30px;
    margin-left: 20px;
    color: navy;
    font-weight: lighter;
    font-family: helvetica;
    float: left;
}

.facilities-card p {
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    line-height: 2rem;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}

.facilities-card img {
    height: 300px;
    border-bottom: 5px solid skyblue;
    float: left;
    width: 100%;
    margin-top: 0px;
}



.achievement {
    height: auto;
    float: left;
    width: 100%;
    padding: 5rem 5rem;


}

.facilitiess i,
.development i,
.awards i {
    margin-right: 1rem;
}

.facilitiess ul,
.development ul,
.awards ul {
    list-style: none;
    font-family: arial;
    font-size: 17px;
    font-weight: 400;
    margin-top: 3rem;

}

.facilitiess li,
.development li,
.awards li {
    margin-bottom: 1rem;
}

.facilitiess h4,
.development h4,
.awards h4 {
    font-family: poppins;
    color: navy;
    font-weight: 600;
}

.facilitiess,
.development,
.awards {
    width: 33.33%;
    height: 500px;
    background-color: white;
    float: left;
}

.awards img {
    width: 100%;
    height: 340px;
    margin: 0px 0px;

}

.awards p {
    text-align: justify;
    color: #787878;
    font-family: helvetica;
    line-height: 2.4rem;
    font-size: 1.15rem;
}

.enquiry-div {
    height: auto;
    width: 100%;
    float: left;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 4rem;
    align-items: center
}

.enq-left,
.enq-right {
    height: auto;
    width: 50%;
    display: block;
    font-family: poppins;
    text-align: center;
}

.enq-left h3,
.enq-right h3 {
    color: white;

    font-weight: 700;
}

.phone-no {
    color: white;
    list-style: none;
    font-size: 1.62rem;

}


.adm-btn {
    background-color: #172A6E;
    color: white;
    font-family: poppins;
    display: inline-block;
    padding: 0.51rem;
    font-size: 1.0rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    margin-top: 2rem;
}

.form-wrap {
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-right: 20px;
}

.map {
    float: left;
    width: 50%;
    height: 500px;
    padding: 0rem 4rem;
}

.map h3,
.form h3 {
    color: #172A6E;
    font-family: poppins;
    font-weight: 300;
}

.form {
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
}

.input-fields {
    width: 45%;
    border-radius: 20px;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 2px solid skyblue;
    float: left;
    height: 60px;
    font-family: poppins;
    padding: 1rem;
}

.input-fields-grade {
    width: 92%;
    margin-left: 1rem;
    /* margin-right: 10px; */
    border-radius: 20px;
    border: none;
    height: 60px;
    margin-top: 1rem;
    border: 2px solid skyblue;
    float: left;
    padding: 1rem;
    font-family: poppins;
}

.input-fields-adress {
    width: 92%;
    margin-left: 1rem;
    /* margin-right: 10px; */
    border-radius: 20px;
    border: none;
    height:100px;
    margin-top: 1rem;
    border: 2px solid skyblue;
    float: left;
}

.send-msg-btn{
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: red;
    border: none;
    font-family: poppins;
    margin-top: 3rem;
}


.footer{
    height: 600px;
    background-color: #2b2929;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.footer-col{
    height: 300px;
    width: 25%;
    float: left;
    font-family: poppins;
    color: white;
}

.footer-col p{
    text-align: left;
    line-height: 2rem;
}

.footer-col ul{
    list-style-type: square;
}
.footer-col ul li{
    margin-top: 1rem;
}
#footer-col-ul{
    list-style-type: none;

}
#footer-col-ul li{
    margin-top: 1rem;

}

#footer-col-ul li i{
    margin-right: 1rem;

}

.footer-bottom{
    height: auto;
    background-color: #2b2929;
    width: 100%;
    font-family: poppins;
    padding: 1rem;
    color: white;
    float: left;
    border-top: 1px solid rgb(87, 87, 87);
    text-align: center;
}

.footer-bottom-ul li{
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 1rem;

} 
